<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-9" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <link rel="shortcut icon" href="@Url.Content("~/Content/img/bigtree.png")" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.css">
    <link rel="stylesheet" href="~/Content/css/owl.transitions.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <link rel="stylesheet" href="~/Content/css/meanmenu.min.css">
    <link href="~/Content/css/tabs.css" rel="stylesheet" />
    <link href="~/Content/css/buttons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link href="~/Content/css/morrisjs/morris.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/Content/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/Content/css/metisMenu/metisMenu-vertical.css">
    <link rel="stylesheet" href="~/Content/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Content/css/calendar/fullcalendar.print.min.css">



    <!-- dropzone CSS
    ============================================ -->
    <link rel="stylesheet" href="~/Content/css/dropzone/dropzone.css">

    <!-- tabs CSS
     ============================================ -->
    <link rel="stylesheet" href="~/Content/css/tabs.css">
    <link rel="stylesheet" href="~/Content/css/form/all-type-forms.css">


    <!-- notifications CSS
      ============================================ -->
    <link rel="stylesheet" href="~/Content/css/notifications/Lobibox.min.css">
    <link rel="stylesheet" href="~/Content/css/notifications/notifications.css">

    <link rel="stylesheet" href="~/Content/css/accordions.css">
    <link href="~/Content/css/alerts.css" rel="stylesheet" />
    <link href="~/Content/css/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="~/Content/css/datapicker/colorpicker.css" rel="stylesheet" />
    <link href="~/Content/css/datapicker/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/css/form/themesaller-forms.css" rel="stylesheet" />
    <link href="~/Content/css/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/css/chosen/bootstrap-chosen.css" rel="stylesheet" />
    <link href="~/Content/css/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet" />
    <link href="~/Content/css/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet" />
    <link href="~/Content/css/data-table/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/css/data-table/bootstrap-editable.css" rel="stylesheet" />
    <link href="~/Content/css/form/all-type-forms.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">


    <script src="~/Content/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="~/Content/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse ">
        <div class="pull-left">
            <img src="~/Images/logo-dark.png" style="height:65px;margin-left:10px" />

        </div>
        <div class="container">



        </div>
    </div>
    <div class=" body-content">
        <div class="col-lg-12">
            @RenderBody()

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - www.netline.net.tr</p>
            </footer>
        </div>
    </div>
    <!-- jquery
    ============================================ -->
    <script src="~/Content/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/wow.min.js"></script>
    <script src="~/Content/js/jquery-price-slider.js"></script>
    <script src="~/Content/js/jquery.meanmenu.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.sticky.js"></script>
    <script src="~/Content/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/js/scrollbar/mCustomScrollbar-active.js"></script>


    <script src="~/Content/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/Content/js/metisMenu/metisMenu-active.js"></script>


    <!-- dropzone JS
    ============================================ -->
    <script src="~/Content/js/dropzone/dropzone.js"></script>

    <!-- tab JS
    ============================================ -->
    <script src="~/Content/js/tab.js"></script>
    <!-- icheck JS
    ============================================ -->
    <script src="~/Content/js/icheck/icheck.min.js"></script>
    <script src="~/Content/js/icheck/icheck-active.js"></script>
    <!-- notification JS
    ============================================ -->
    <script src="~/Content/js/notifications/Lobibox.js"></script>
    <script src="~/Content/js/notifications/notification-active.js"></script>

    <script src="~/Content/js/touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/js/touchspin/touchspin-active.js"></script>

    <!-- duallistbox JS
    ============================================ -->
    <script src="~/Content/js/duallistbox/jquery.bootstrap-duallistbox.js"></script>
    <script src="~/Content/js/duallistbox/duallistbox.active.js"></script>


    <!-- data table JS
    ============================================ -->
    <script src="~/Content/js/data-table/bootstrap-table.js"></script>
    <script src="~/Content/js/data-table/tableExport.js"></script>
    <script src="~/Content/js/data-table/data-table-active.js"></script>
    <script src="~/Content/js/data-table/bootstrap-table-editable.js"></script>
    <script src="~/Content/js/data-table/bootstrap-editable.js"></script>
    <script src="~/Content/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="~/Content/js/data-table/colResizable-1.5.source.js"></script>
    <script src="~/Content/js/data-table/bootstrap-table-export.js"></script>
    <!--  editable JS
    ============================================ -->
    <script src="~/Content/js/editable/jquery.mockjax.js"></script>
    <script src="~/Content/js/editable/mock-active.js"></script>
    <script src="~/Content/js/editable/select2.js"></script>
    <script src="~/Content/js/editable/moment.min.js"></script>
    <script src="~/Content/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="~/Content/js/editable/bootstrap-editable.js"></script>
    <script src="~/Content/js/editable/xediable-active.js"></script>

    @*<script src="~/Content/js/morrisjs/raphael-min.js"></script>
        <script src="~/Content/js/morrisjs/morris.js"></script>
        <script src="~/Content/js/morrisjs/morris-active.js"></script>*@
    <script src="~/Content/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="~/Content/js/calendar/moment.min.js"></script>
    <script src="~/Content/js/calendar/fullcalendar.min.js"></script>
    <script src="~/Content/js/calendar/fullcalendar-active.js"></script>




    <script src="~/Content/js/colorpicker/jquery.spectrum.min.js"></script>
    <script src="~/Content/js/colorpicker/color-picker-active.js"></script>
    <script src="~/Content/js/datapicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/datapicker/datepicker-active.js"></script>

    <script src="~/Content/js/input-mask/jasny-bootstrap.min.js"></script>

    <script src="~/Content/js/chosen/chosen.jquery.js"></script>
    <script src="~/Content/js/chosen/chosen-active.js"></script>
    <script src="~/Content/js/select2/select2.full.min.js"></script>
    <script src="~/Content/js/select2/select2-active.js"></script>

    <!-- ionRangeSlider JS
    ============================================ -->
    <script src="~/Content/js/ionRangeSlider/ion.rangeSlider.min.js"></script>
    <script src="~/Content/js/ionRangeSlider/ion.rangeSlider.active.js"></script>
    <!-- rangle-slider JS
    ============================================ -->
    <script src="~/Content/js/rangle-slider/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="~/Content/js/rangle-slider/jquery-ui-touch-punch.min.js"></script>
    <script src="~/Content/js/rangle-slider/rangle-active.js"></script>

    <!-- knob JS
    ============================================ -->
    <script src="~/Content/js/knob/jquery.knob.js"></script>
    <script src="~/Content/js/knob/knob-active.js"></script>

    <script src="~/Content/js/tab.js"></script>
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/functions.js?ver=1.1.1"></script>
    <script src="~/Content/js/BudgetFunction.js?ver=1.1.1"></script>
</body>
</html>
